<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.crm.mapper.cityMapper.AreasMapper">
    <!--查询指定Areas-->
    <select id="getByAreas" resultType="Areas" parameterType="String">
        SELECT * FROM Areas WHERE cityid=#{cityid}
    </select>

</mapper>