<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.crm.mapper.CapitalOpen_AdminMapper">
    <!--查询账号是否存在-->
    <select id="getByTel" resultType="CapitalOpen_Admin" parameterType="String">
        SELECT * FROM CapitalOpen_Admin WHERE caLoginTel=#{tel}
    </select>

</mapper>